<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote</title>
    {% load static %}
</head>
<body>

        <form method="POST">
            {% csrf_token %}
            <h1>Vote</h1>
            Enter your name: <input type="text" name="n"><br>
            Enter your vote:<br>
            <input type="radio" name="vote" value="BJP" checked>BJP<br>
            <input type="radio" name="vote" value="Congress">Congress<br>
            <input type="radio" name="vote" value="Other"> Other
        </form>
</body>
</html>
